CLIENT_GATEWAY_PORT=3000

PAYMENTS_MS_PORT=3003

# https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET=

STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancelled

# https://dashboard.stripe.com/test/webhooks/we_1PWElWP162L16B123OnptEVa
# This is the webhook signing secret 
STRIPE_ENDPOINT_SECRET=

AUTH_DATABASE_URL=

JWT_SECRET=EstoDebEdeS3rUnStringSeguro

ORDERS_DATABASE_URL=